@import "_vars";

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: $headerFontFamily;
	font-weight: $fontWeightBold;
	margin: 0.5em 0;
}
h1 {
	font-size: $headerSize1;
}
h2 {
	font-size: $headerSize2;
}
h3 {
	font-size: $headerSize3;
}
/* END Headers */