@import "_vars";

.right-click-menu {
    position: absolute;
    left: -100%;
    top: -100%;

    z-index: 100;

    background: $backgroundColor;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    h1, h2, h3, h4, h5, h6 {
        margin-left: 0.5em;
        margin-right: 0.5em;

        > span {
            font-size: inherit;
            font-weight: inherit;
        }
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {
            padding: 0.5em 1em;
            border-bottom: 1px solid $textColorDeemphasize;
            cursor: pointer;

            &:hover {
                background: $highlightAreaColor;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}